---
layout: default
title: Blog 
permalink: /blog/
---

            <!-- Blog -->
            <section id="section7">
                <div class="container">
                    <h2>Blog </h2>
                    <div class="blog-posts masonry" id="blog-masonry">
                        <div class="blog-grid-sizer"></div>
                         {% for post in site.categories['blog'] %}
                        <div class="blog-post {%if post.imagepos %} {{post.imagepos}} {%endif%}">
                            <div class="inner">
                            	{%if post.blogimage %}
                                <a href="{{ post.url | prepend: site.url }}">
                                    <div class="image" style="background-image: url('{{ site.url }}{{post.blogimage}}');"></div>
                                </a>
                                {%endif%}
                                <div class="content">
                                    <span class="date">{{post.date | date: "%b %-d, %Y" }}</span>
                                    <h4><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h4>
                                    <footer>
                                        <span class="comments-link"><a href="{{ post.url | prepend: site.url }}">3 Comments</a></span>
                                        <span class="share-link"><a href="{{ post.url | prepend: site.url }}"><i class="fa fa-share-alt"></i></a></span>
                                    </footer>
                                </div>
                                <!-- end .content -->
                            </div>
                            <!-- end .inner -->
                        </div>
                        {%endfor%}
                        <!-- end .blog-post -->
                       <!--  <div class="blog-post">
                            <div class="inner">
                                <div class="content">
                                    <span class="date">March 15, 2015</span>
                                    <h4><a href="single-blog-post.html">We Give 99% Satisfy In All Work</a></h4>
                                    <footer>
                                        <span class="comments-link"><a href="single-blog-post.html">7 Comments</a></span>
                                        <span class="share-link"><a href="single-blog-post.html"><i class="fa fa-share-alt"></i></a></span>
                                    </footer>
                                </div>
                                end .content
                            </div>
                            end .inner
                        </div>
                        end .blog-post
                        <div class="blog-post image-top">
                            <div class="inner">
                                <a href="single-blog-post.html">
                                    <div class="image" style="background-image: url('/images/blog-post-image02.jpg');"></div>
                                </a>
                                <div class="content">
                                    <span class="date">March 13, 2015</span>
                                    <h4><a href="single-blog-post.html">We Won CSS Design Of The Year</a></h4>
                                    <footer>
                                        <span class="comments-link"><a href="single-blog-post.html">4 Comments</a></span>
                                        <span class="share-link"><a href="single-blog-post.html"><i class="fa fa-share-alt"></i></a></span>
                                    </footer>
                                </div>
                                end .content
                            </div>
                            end .inner
                        </div>
                        end .blog-post
                        <div class="blog-post image-top">
                            <div class="inner">
                                <a href="single-blog-post.html">
                                    <div class="image" style="background-image: url('/images/blog-post-image03.jpg');"></div>
                                </a>
                                <div class="content">
                                    <span class="date">March 12, 2015</span>
                                    <h4><a href="single-blog-post.html">How to Launch Website Easily</a></h4>
                                    <footer>
                                        <span class="comments-link"><a href="single-blog-post.html">10 Comments</a></span>
                                        <span class="share-link"><a href="single-blog-post.html"><i class="fa fa-share-alt"></i></a></span>
                                    </footer>
                                </div>
                                end .content
                            </div>
                            end .inner
                        </div>
                        end .blog-post
                        <div class="blog-post image-right">
                            <div class="inner">
                                <a href="single-blog-post.html">
                                    <div class="image" style="background-image: url('/images/blog-post-image04.jpg');"></div>
                                </a>
                                <div class="content">
                                    <span class="date">March 11, 2015</span>
                                    <h4><a href="single-blog-post.html">Music Is Help To Relax Body And Mind</a></h4>
                                    <footer>
                                        <span class="comments-link"><a href="single-blog-post.html">5 Comments</a></span>
                                        <span class="share-link"><a href="single-blog-post.html"><i class="fa fa-share-alt"></i></a></span>
                                    </footer>
                                </div>
                                end .content
                            </div>
                            end .inner
                        </div>
                        end .blog-post
                        <div class="blog-post">
                            <div class="inner">
                                <div class="content">
                                    <span class="date">March 10, 2015</span>
                                    <h4><a href="single-blog-post.html">We Support any Type of Design</a></h4>
                                    <footer>
                                        <span class="comments-link"><a href="single-blog-post.html">3 Comments</a></span>
                                        <span class="share-link"><a href="single-blog-post.html"><i class="fa fa-share-alt"></i></a></span>
                                    </footer>
                                </div>
                                end .content
                            </div>
                            end .inner
                        </div>
                        end .blog-post
                        <div class="blog-post image-left">
                            <div class="inner">
                                <a href="single-blog-post.html">
                                    <div class="image" style="background-image: url('/images/blog-post-image05.jpg');"></div>
                                </a>
                                <div class="content">
                                    <span class="date">March 9, 2015</span>
                                    <h4><a href="single-blog-post.html">Change Your Domain Without Risk</a></h4>
                                    <footer>
                                        <span class="comments-link"><a href="single-blog-post.html">6 Comments</a></span>
                                        <span class="share-link"><a href="single-blog-post.html"><i class="fa fa-share-alt"></i></a></span>
                                    </footer>
                                </div>
                                end .content
                            </div>
                            end .inner
                        </div>
                        end .blog-post
                                            </div>
                                            end .blog-posts
                                            <div class="blog-load-more">
                        <a href="single-blog-post.html" class="button solid-button white icon-right">Load More Posts<i class="md-refresh"></i></a>
                                            </div> -->
                    <!-- end .blog-load-more -->
                </div>
                <!-- end .container -->
            </section>
            <!-- end #section1 -->

