           <!-- Home -->
            <section id="section1" class="no-padding-bottom active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 vertical-center padding-fix">
                            <h1>Design<sup>+</sup> Develope<sup>+</sup> Interactive<sup>+</sup> Art<sup>+</sup></h1>
                            <p>Hello, I’m Benjamin Thomson. I Have 8 years of experience in Web and UX design. I am worked on a variety of brands and with agencies both big and small.</p>
                            <p class="button-row"><a href="#" class="button solid-button white">Hire Me Now</a><a href="#" class="button solid-button purple">Download CV</a>
                            </p>
                        </div>
                        <!-- end .col-sm-7 -->
                        <div class="col-sm-5 vertical-center">
                            <img src="{{ site.url }}/images/man01.png" alt="man" class="img-responsive section-img">
                        </div>
                        <!-- end .col-sm-5 -->
                    </div>
                    <!-- end .row -->
                </div>
                <!-- end .container -->
            </section>
            <!-- end #section1 -->